
@media screen and (max-width: 920px) {
    #menu {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 920px) {
    #menu {
        grid-template-columns: repeat(3, 250px);
    }
}
#menu {
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    margin: 20px 0;
}
#menu a {
    text-align: center;
    
    text-decoration: none;
    background-color: linen;
    border: 3px solid goldenrod;
    border-radius: 15px;
    
}
#menu a:visited {
    color: #000;
}